body {
  font-family: poppins, sans-serif;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-bottom: 2px solid #000;
}
.wrapper {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 45px);
  grid-template-rows: repeat(6, 45px);
  gap:10px 5px;
}
.wrapper div {
  border: 3px solid #ccc;
}
