/* ---- GLOBALLY ---- */

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #43281c;
  color: #fbf2c0;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 20px 0;
}
.header h1 {
  margin: 0;
  font-size: 20px;
}
.header img {
  height: 20px;
  padding-right: 10px;
  align-self: center;
}

/* --- GRID BOX ---*/

.box {
  background-color: #eee1d5;
  color: #43281c;
  padding: 20px;
  border-radius: 5px;
}

.container {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-areas:
    "items name"
    "items payment";
  row-gap: 10px;
  column-gap: 20px;
}
.container h2 {
  margin: 0 0 20px 0;
  font-size: 1rem;
  font-weight: normal;
  color: #885a2d;
  
}
/* --- ITEMS ---*/

.items {
  grid-area: items;
}
.items ul {
  padding: 0;
}
.items-wrapp {
  display: flex;
  flex-direction: column;
}
.items-wrapp li {
  list-style: none;
}
.items-wrapp > li {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 20px;
  padding: 10px 0;
}
.items-wrapp > li:not(:last-child) {
  border-bottom: 2px solid #b08968;
}
.item-title li {
  color: #b08968;
  font-size: 14px;
  line-height: 1.5;
}
.item-title .main-title {
  color: #43281c;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}
.item-price {
  margin-left: auto;
  font-weight: bold;
}

/* --- NAME & PAYMEN ---*/

.name {
  grid-area: name;
  position: relative;
}
.box input {
  display: block;
  background-color: #eee1d5;
  border: 2px solid #b08968;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
}
.box label {
  display: block;
  font-size: 12px;
  color: #b08968;
  position: absolute;
  background-color: #eee1d5;
  z-index: 10;
  padding: 0 5px;
}
.name label {
  top: 55px;
  left: 45px;
}
.payment {
  grid-area: payment;
  position: relative;
}

.payment input:last-child {
  width: 50%;
  margin-top: 30px;
}
.payment label {
  top: 55px;
  left: 45px;
}
.payment label[for="ccv-number"] {
  top: 125px;
}

/* --- ORDER ---*/

section.order-box {
  margin-top: 100px;
}
.order-wrapp {
  /* background-color: #78bd8b; */
  margin: 20px auto;
  width: 50%;
}
.order-wrapp div:last-child {
  font-weight: bold;
}
.order-wrapp span {
  display: inline-block;
  width: 50%;
  margin-bottom: 5px;
}
.order-wrapp .price {
  text-align: right;
  /* background-color: #8b93d6; */
}

.order-box button {
  background-color: #deb993;
  width: 80%;
  margin: 20px auto;
  display: block;
  border: none;
  padding: 10px 0;
  border-radius: 20px;
  font-size: 1rem;
}
.order-box button:hover {
  background-color: #eee1d5;
  color: #885a2d;
}

/* -- (phones & tablet , 944px and down) -- */

@media only screen and (max-width: 944px) {
  .container {
    grid-template-areas:
      "items"
      "name"
      "payment";
    row-gap: 20px;
  }
}
